<span *ngIf="resource !== undefined">
  <span [ngSwitch]="resource.resourceType">

    <span *ngSwitchCase="'Flag'">
      Flag
      <app-flag [flags]="[ resource ]"></app-flag>
    </span>
     <span *ngSwitchCase="'ClinicalImpression'">
      ClinicalImpression
      <app-clinical-impression [clinicalImpressions]="[ resource ]"></app-clinical-impression>
    </span>
     <span *ngSwitchCase="'CarePlan'">
      CarePlan
      <app-care-plan [carePlans]="[ resource ]"></app-care-plan>
    </span>
    <span *ngSwitchCase="'Condition'">
      Condition
      <app-condition [conditions]="[ resource ]"></app-condition>
    </span>
     <span *ngSwitchCase="'Consent'">
      Consent
      <app-consent [consents]="[ resource ]"></app-consent>
    </span>

    <span *ngSwitchCase="'List'">
      List - NOT YET IMPLEMENTED
    </span>

     <span *ngSwitchCase="'Observation'">
      Observation
      <app-observation [observations]="[ resource ]"></app-observation>
    </span>
    <span *ngSwitchCase="'Practitioner'">
      Practitioner
      <app-practitioner [practitioners]="[ resource ]"></app-practitioner>
    </span>
     <span *ngSwitchCase="'RelatedPerson'">
      RelatedPerson - NOT YET IMPLEMENTED
    </span>
     <span *ngSwitchDefault>
      {{resource.resourceType}}x - NOT YET IMPLEMENTED
    </span>

  </span>
</span>
