<mat-card>
  <mat-card-title>{{item.text}}</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td>linkId</td>
        <td><b>{{item.linkId}}</b></td>
      </tr>
      <tr>
        <td>type</td>
        <td><b>{{item.type}}</b></td>
      </tr>
      <tr *ngIf="item.options !== undefined">
        <td>valueSet options</td>
        <td>{{item.options.reference}}</td>
      </tr>
      <tr>
        <td>repeats</td>
        <td><b>{{item.repeats}}</b></td>
      </tr>
      <tr>
        <td>required</td>
        <td><b>{{item.required}}</b></td>
      </tr>
    </table>
    <table>
      <tr *ngFor="let ext of item.extension">
        <td>{{remove(ext.url)}}</td>
        <td>
          <b>
          <span *ngIf="ext.valueCode !== undefined">{{ext.valueCode}}</span>
          <span *ngIf="ext.valueReference !== undefined">{{ext.valueReference.reference}}</span>
          </b>
        </td>
      </tr>
    </table>
    <br>
  <span *ngFor="let subitem of item.item">
    <app-questionnaire-item [item]="subitem"></app-questionnaire-item>
  </span>
  </mat-card-content>
</mat-card>
