<td-expansion-panel [style]="getStyle(depth)" label="{{item.text}}" sublabel="linkId={{item.linkId}}" [disabled]="disabled">

<mat-card>
  <mat-chip-list>
    <mat-chip *ngIf="item.repeats">repeats
    </mat-chip>
    <mat-chip color="accent" *ngIf="item.required">required
    </mat-chip>
    <span *ngFor="let ext of item.extension">
          <mat-chip color="primary" *ngIf="ext.valueCode !== undefined">Resource: {{ext.valueCode}}</mat-chip>
          <mat-chip *ngIf="ext.valueReference !== undefined">Profile: {{ext.valueReference.reference}}</mat-chip>
    </span>
    <mat-chip *ngIf="item.options !== undefined">
      Options ValueSet {{item.options.reference}}
    </mat-chip>
  </mat-chip-list>

  <mat-list>
    <mat-list-item>
      <mat-icon matListAvatar>{{getIcon(item)}}</mat-icon>
      <h3 matLine>{{item.type}}</h3>
    </mat-list-item>
  </mat-list>
    <br>
  <span *ngFor="let subitem of item.item">
    <td-expansion-panel-group [multi]="multi" #panelGroup>
    <app-questionnaire-item [item]="subitem" [depth]="depth+1"></app-questionnaire-item>
    </td-expansion-panel-group>
  </span>
</mat-card>
</td-expansion-panel>
