<div>

  <div
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex="30%">
      <div
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
        <div>
        </div>
        <div class="mat-body-1">
          {{item.text}} ({{item.linkId}})
        </div>

      </div>
      <br>
    </div>
    <div class="mat-body-2" fxFlex="70%">
              <span *ngFor="let answer of item.answer">

                    {{answer.valueString}}
                   {{answer.valueInteger}}
                   {{answer.valueDate}}
                   {{answer.valueDateTime}}
                   <span *ngIf="answer.valueCoding !== undefined">{{answer.valueCoding.display}} ( {{answer.valueCoding.code}} )</span>
                   <span *ngIf="answer.valueReference !== undefined">
                      <app-questionnaire-response-item-answer [answer]="answer">
                      </app-questionnaire-response-item-answer>
                   </span>

              </span>
    </div>

  </div>



    <span *ngIf="item.item !== undefined">
              <span *ngFor="let subitem of item.item">
                <app-questionnaire-response-item [item]="subitem" [depth]="depth+1"></app-questionnaire-response-item>
              </span>
    </span>
</div>
<!--
<table mat-table [dataSource]="items">
    <ng-container matColumnDef="question">
    <th mat-header-cell *matHeaderCellDef width="30%"> Question </th>
    <td mat-cell *matCellDef="let item">
                                {{item.text}} </td>
  </ng-container>

  <ng-container matColumnDef="answer">
    <th mat-header-cell *matHeaderCellDef> Answer </th>
    <td mat-cell *matCellDef="let item">  <b *ngIf="item.answer !== undefined && item.answer.length>0">
      {{item.answer[0].valueString}}
      <span *ngIf="item.answer[0].valueReference !== undefined">{{item.answer[0].valueReference.display}}</span>
    </b> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
-->
